.vs
.env
otp.code
*.session
*.session-journal
example.py
test.py
.venv
__pycache__
*.mp4
settings.json
ext-mount
.vscode
l360.token
terminate-lockfile
rescued_messages.db
test.png
test2.png
segoeuithis.ttf
